[submodule "PoGoEmulator/PoGoEmulator/Resources/PokemonGO-Assets"]
	path = PoGoEmulator/PoGoEmulator/Resources/PokemonGO-Assets
	url = https://github.com/Necrobot-Private/PokemonGO-Assets.git
    branch = master
[submodule "PoGoEmulator/Resources/PokemonGO-Assets"]
	path = PoGoEmulator/Resources/PokemonGO-Assets
	url = https://github.com/Necrobot-Private/PokemonGO-Assets.git
